*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#4facfe,#00c6fb);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.container{
    width:100%;
    max-width:850px;
    background:white;
    border-radius:20px;
    padding:40px;
    box-shadow:0 15px 35px rgba(0,0,0,.2);
}

.oculto{
    display:none;
}

h1{
    text-align:center;
    color:#1f3b6f;
    margin-bottom:15px;
}

.subtitulo{
    text-align:center;
    font-size:18px;
    color:#555;
    margin-bottom:35px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    font-size:18px;
    font-weight:600;
    transition:.3s;
}

#btnComecar,
#refazer{
    background:#2f80ed;
    color:white;
}

#btnComecar:hover,
#refazer:hover{
    background:#1769d4;
}

.topo{
    margin-bottom:25px;
}

.progresso{
    width:100%;
    height:16px;
    background:#ddd;
    border-radius:30px;
    overflow:hidden;
}

#barra{
    width:0%;
    height:100%;
    background:linear-gradient(90deg,#00c853,#64dd17);
    transition:.4s;
}

#contador{
    text-align:right;
    margin-top:10px;
    color:#555;
    font-weight:600;
}

#pergunta{
    margin-bottom:25px;
    color:#222;
    text-align:center;
}

#opcoes{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.opcao{
    background:#f5f5f5;
    border:2px solid transparent;
    padding:15px;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
}

.opcao:hover{
    background:#eaf4ff;
    border-color:#2f80ed;
}

.cardResultado{
    margin-top:20px;
    padding:20px;
    border-radius:15px;
    background:#f8f8f8;
    border-left:8px solid #2f80ed;
}

.cardResultado h2{
    margin-bottom:10px;
    color:#1f3b6f;
}

.cardResultado p{
    margin:8px 0;
    line-height:1.6;
}

.porcentagem{
    font-size:20px;
    color:#00a651;
    font-weight:bold;
}

.medalha{
    font-size:28px;
}

.textoResultado{
    text-align:center;
    margin-bottom:30px;
    color:#555;
}

@media(max-width:700px){

.container{
padding:20px;
}

h1{
font-size:28px;
}

#pergunta{
font-size:22px;
}

button{
font-size:16px;
}

}
